<h1>Welcome to my Travel Site</h1>
<p>This is my very awesome travel site.</p>

<p>My homeland is <%= @homeland %>.</p>
<p>
	<ul>
	  <% @countries.each do |country| %>
	    <li><%= country %></li>
	  <% end %>
	</ul>
</p>
<% @pictures.each do |picture| %>
<%= image_tag picture, class: "img-responsive" %>
	<% end %>